SISH/web/WEB-INF/wsdl/localhost_8084/WSFarmaciaApp/WSFarmacia.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.aplic.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.aplic.org/" name="WSFarmacia">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.aplic.org/" schemaLocation="http://localhost:8084/WSFarmaciaApp/WSFarmacia?xsd=1" />
</xsd:schema>
</types>
<message name="buscarPorSustanciaActiva">
<part name="parameters" element="tns:buscarPorSustanciaActiva" />
</message>
<message name="buscarPorSustanciaActivaResponse">
<part name="parameters" element="tns:buscarPorSustanciaActivaResponse" />
</message>
<message name="buscarPorDescripcion">
<part name="parameters" element="tns:buscarPorDescripcion" />
</message>
<message name="buscarPorDescripcionResponse">
<part name="parameters" element="tns:buscarPorDescripcionResponse" />
</message>
<message name="buscarPorClave">
<part name="parameters" element="tns:buscarPorClave" />
</message>
<message name="buscarPorClaveResponse">
<part name="parameters" element="tns:buscarPorClaveResponse" />
</message>
<message name="registrarRequisicion">
<part name="parameters" element="tns:registrarRequisicion" />
</message>
<message name="registrarRequisicionResponse">
<part name="parameters" element="tns:registrarRequisicionResponse" />
</message>
<message name="modificarRequisicion">
<part name="parameters" element="tns:modificarRequisicion" />
</message>
<message name="modificarRequisicionResponse">
<part name="parameters" element="tns:modificarRequisicionResponse" />
</message>
<message name="cancelarRequisicion">
<part name="parameters" element="tns:cancelarRequisicion" />
</message>
<message name="cancelarRequisicionResponse">
<part name="parameters" element="tns:cancelarRequisicionResponse" />
</message>
<message name="buscarPorArea">
<part name="parameters" element="tns:buscarPorArea" />
</message>
<message name="buscarPorAreaResponse">
<part name="parameters" element="tns:buscarPorAreaResponse" />
</message>
<portType name="WSFarmacia">
<operation name="buscarPorSustanciaActiva">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorSustanciaActivaRequest" message="tns:buscarPorSustanciaActiva" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorSustanciaActivaResponse" message="tns:buscarPorSustanciaActivaResponse" />
</operation>
<operation name="buscarPorDescripcion">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorDescripcionRequest" message="tns:buscarPorDescripcion" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorDescripcionResponse" message="tns:buscarPorDescripcionResponse" />
</operation>
<operation name="buscarPorClave">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorClaveRequest" message="tns:buscarPorClave" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorClaveResponse" message="tns:buscarPorClaveResponse" />
</operation>
<operation name="registrarRequisicion">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/registrarRequisicionRequest" message="tns:registrarRequisicion" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/registrarRequisicionResponse" message="tns:registrarRequisicionResponse" />
</operation>
<operation name="modificarRequisicion">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/modificarRequisicionRequest" message="tns:modificarRequisicion" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/modificarRequisicionResponse" message="tns:modificarRequisicionResponse" />
</operation>
<operation name="cancelarRequisicion">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/cancelarRequisicionRequest" message="tns:cancelarRequisicion" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/cancelarRequisicionResponse" message="tns:cancelarRequisicionResponse" />
</operation>
<operation name="buscarPorArea">
<input wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorAreaRequest" message="tns:buscarPorArea" />
<output wsam:Action="http://ws.aplic.org/WSFarmacia/buscarPorAreaResponse" message="tns:buscarPorAreaResponse" />
</operation>
</portType>
<binding name="WSFarmaciaPortBinding" type="tns:WSFarmacia">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarPorSustanciaActiva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarPorDescripcion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarPorClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrarRequisicion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarRequisicion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelarRequisicion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarPorArea">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSFarmacia">
<port name="WSFarmaciaPort" binding="tns:WSFarmaciaPortBinding">
<soap:address location="http://localhost:8084/WSFarmaciaApp/WSFarmacia" />
</port>
</service>
</definitions>